:root {
    --c1-Primary: #004539;
    --c2-Secondary: #FEF9EF;
    --c3-Accent1: #736F72;
    --c4-Accent2: #549F93;
}

/* GENERAL CSS */

* {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 50px;
    background-color: var(--c2-Secondary);
}

.logo {
    grid-column: 1/2;
}

.logo img {
    width: 200px;
    height: 100px;
}

nav {
    grid-column: 2/3;
    width: 250 px;
}

nav img {
    width: 50px;
    height: 50px;
}

nav ul{
    position: relative;
    list-style: none;
    display: flex;
    gap: 50px;
    text-align: right;
    /* justify-content: space-around; */
}

nav li {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

nav li img {
    grid-row: 1/2;
}

nav a {
    text-decoration: none;
    grid-row: 2/3;
}


/* COSTCO CSS */

body {
    background-color: var(--c1-Primary);
}

main {
    background-color: var(--c2-Secondary);
}


/* WALMART CSS */